/* THIS IS THE MENU CSS FILE - 16 OCT 14 */

/* id=some     uses  #some   */
/* class=some  uses  .some   */

BODY {
	width: 90%;
	margin: auto;
}

IMG.banner {
	display: block;
	margin-left: auto;	/* Center horizontally */
	margin-right: auto;	/* Center horizontally */
}

TABLE.navigation {
	text-align: center;
}
