/*
 *	#navigation_bar.css
 *
 *	Define the layout elements of the generic navigation bar
 */
/*
 	Copyright: 2015 Habit for Humanity of Anderson County, Tennessee

	This file is part of hfhac.org.

	This code is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.

*/

/* Hides the actual input for the menu */
input {
	display: none;
}

#menu {
	z-index: 0;

	position: fixed;
	top: 0;
	left: -300px;

	height: 100%;
	width: 300px;

	background: #FFFFFF;
	color: #000000;
}

/* Style the UI element, which is the label for the checkbox */
#menu-toggle-label {
	z-index: 1;

	position: fixed;

	height: 2em;
	width: 2em;

	background-image: url(images/menu_light.svg);
	background-size: cover;

	user-select: none;
}

/* When checked, make toggle the everything to the right of the menu */
#menu-toggle:checked ~ #menu-toggle-label {
	height: 100%;
	width: calc(100% - 300px);
	background: rgba(255, 255, 255, .8);
}

/* Move menu-toggle-label and header to the right 300px */
#menu-toggle:checked ~ #menu-toggle-label,
#menu-toogle:checked ~ header {
	left: 300px;
}

/* No horizontal movement on #menu */
#menu-toggle:checked ~ #menu {
	left: 0px;
}

/* Move page contents to the right 300px */
#menu-toggle:checked ~ #page_content {
	margin-left: 300px;
}
