/*
 *	#menu.css
 *
 *	Define the layout elements of the generic navigation bar
 */
/*
 	Copyright: 2015 Habit for Humanity of Anderson County, Tennessee

	This file is part of hfhac.org.

	This code is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.

*/


/* Hides the actual input for the menu */
input {
	display: none;
}

/* Mobile */
@media only screen and (max-width: 539px) {
	#menu {
		z-index: 0;

		position: fixed;
		top: 0;
		left: -100%;

		height: 100%;
		width: 75%;

		background: #FFFFFF;
		color: #000000;
	}

	/* Style the UI element, which is the label for the checkbox */
	#menu__toggle__label {
		z-index: 1;
		position: absolute;

		height: 100%;
		width: 100%;

		user-select: none;
	}

	/* When checked, the toggle becomes everything to the right of the menu */
	#menu-toggle:checked ~ #menu-toggle-label {
		height: 100%;
		width: calc(100% - 75%);
		background: rgba(0, 0, 0, .8);
	}
	#menu-toggle:checked ~ #drawer {
		display: none;
	}

	/* Move menu-toggle-label and header to the right 75% */
	#menu-toggle:checked ~ #menu-toggle-label,
	#menu-toogle:checked ~ header {
		left: 75%;
	}

	/* No horizontal movement on #menu */
	#menu-toggle:checked ~ #menu {
		left: 0px;
	}

	/* Move page contents to the right 75% */
	#menu-toggle:checked ~ #page_content {
		margin-left: 75%;
	}

	/* Hyperlinks */
	#menu a {
		display: block;
		width: 100%;
		height: 100%;
		text-align: center;
		text-decoration: none;
	}
	#menu a:link, a:visited {
		color: #000000;
		text-decoration: none;
	}
	#menu a:hover, a:active {
		color: #FFFFFF;
		text-decoration: none;
	}

	/* Individual cells */
	#Mission:hover {
		background: #007B63;
	}
	#Donate:hover {
		background: #DC241F;
	}
	#ReStore:hover {
		background: #F1AB00;
	}
	#Volunteer:hover {
		background: #9A3416;
	}
	#Contact:hover {
		background: #4A207E
	}
}

/* Desktop */
@media only screen and (min-width: 540px) {
	#menu-toggle-label {
		display: none;
	}

	nav#menu {
		padding-top: 3em;
	}

	#menu li {
		list-style-type: none;
	}

	/* Hyperlinks */
	#menu a {
		display: block;
		width: 100%;
		height: 100%;
		text-align: center;
		text-decoration: none;
	}
	#menu a:link, a:visited {
		color: #000000;
		text-decoration: none;
	}
	#menu a:hover, a:active {
		color: #FFFFFF;
		text-decoration: none;
	}

	/* Individual cells */
	#Mission:hover {
		background: #007B63;
	}
	#Donate:hover {
		background: #DC241F;
	}
	#ReStore:hover {
		background: #F1AB00;
	}
	#Volunteer:hover {
		background: #9A3416;
	}
	#Contact:hover {
		background: #4A207E
	}

	nav#menu {
		height: 2em;
	}

	#menu a {
		line-height: 2em;       /* Same as ul */
	}

	#menu li {
		float: left;
		width: 20%;
		height: 100%;
	}
}
