/*
 *	#navigation_bar.css
 *
 *	Define the layout elements of the generic navigation bar
 */


/*
 	Copyright: 2015 Habit for Humanity of Anderson County, Tennessee

	This file is part of hfhac.org.

	This code is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.

*/

/* Hides the actual input for the drawer */
input {
	display: none;
}

#drawer-toggle-label {
	user-select: none;
	position: ;


	height: 50px;
	width: 50px;
	display: block;
	background: url(./images/menu.svg);
	background-size: cover;
}

/* Creates the "hamburger" menu icon 
#drawer-toggle-label:before {
	content: '';
	display: block;
	position: absolute;
	height: 2px;
	width: 24px;
	background: #8d8d8d;
	left: 13px;
	top: 18px;
	box-shadow: 0 6px 0 #8d8d8d, 0 12px 0 #8d8d8d;
}*/
